*/**/*.m4a
*/**/*.wav
*/**/*.mp4
*/**/*.zip
*/**/*.json
*/**/*.head
*/**/*.seg
*/**/*.pdf

*.zst
*.zip
*.log
multimodal_dialogue*/**/*
irregular*/**/*
temp/**/*
!temp/.gitkeep
!temp/utterance_section/.gitkeep


!anomaly_search_result.json